.meal-item {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}
.price {
  color: #b8471a;
  font-weight: 900;
}
.description {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
}
.name {
  font-weight: 700;
}
.add-amount button {
  margin-top: 0.25rem;
  background: #b8471a;
  transition: 0.5s ease-in-out;
  display: block;
  margin-left: 15px;
}

.add-amount button:hover {
  transform: scale(1.1);
  color: #b8471a;
  background-color: white;
}

input {
  height: 20px;
  width: 40px;
  display: inline;
}
.add-amount p {
  display: inline;
  margin-right: 10px;
}

@media screen and (max-width: 460px) {
  .add-amount button {
    margin-left: 10%;
  }
  .add-amount p {
    margin-left: 15%;
    
  }
  input {
    margin-left: 25%;
  }
}
