.meal-item {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}
.price {
  color: #b8471a;
  font-weight: 900;
}
.description {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
}
.name {
  font-weight: 700;
}
.add-amount button {
  background-color: #b8471a;
  color: white;
  margin-top: 0.25rem;
  cursor:pointer;
  padding-block:0.2rem ;
  padding-inline: 1.2rem;
  border: 1px #ab4319 solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
